=basic-for-additional-information()
    color: var(--text-black, #1C2A39)
    font-size: 18px
    font-weight: 700
    text-transform: uppercase
    box-shadow: 0px 24px 36px 0px rgba(53, 49, 84, 0.28)
/* Global */

.flex
    display: flex

.body
    flex-direction: column
    font-family: Montserrat

/* Header */
.header
    z-index: 1

    position: fixed
    text-transform: uppercase

    width: 100%
    height: 116px

    justify-content: space-around
    align-items: center

    background-color: #FFFFFF

.logo
    height: 29px

.section--navigation__links
    font-size: 15px

.navigation__links--link
    &-title
        font-weight: 700
        transition: color 0.5s ease-out
        color: #5C6A79
    &-title:hover
        color: #1C2A39
    &-active
        font-weight: 900
        color: #1C2A39

.navigation__links--link:not(:first-child)
    padding-left: 40px

.information-purchases
    width: 120.839px
    height: 17px

    justify-content: space-between

/* Main */

.main
    padding-top: 116px
    &__slider
        justify-content: center
        box-sizing: content-box
        padding-bottom: 102px
        max-height: 732px
        &--section
            position: relative
            flex-direction: column
            align-items: center
    &__categories-and-category-books
        color: red

/* SLIDER */
.section
    &__slides
        justify-content: center
    &__additional-information-one
        position: relative

        top: 40px

        padding: 102px 20px 20px 20px
        margin-left: -70px
        width: 149px
        height: 204px

        background: #9E98DC
        +basic-for-additional-information
        &-a
            color: var(--text-black, #1C2A39)

    &__additional-information-two
        position: relative

        top: 100px

        padding: 149px 47px 20px 20px
        margin-left: 20px
        width: 137px
        height: 273px

        background: #FF8FE6
        +basic-for-additional-information
        &-a
            color: var(--text-black, #1C2A39)

.section__banner
    max-width: 100%
    max-height: 702px

    animation: fade 1s
    &--hide
        display: none

.section__switches
    display: flex
    width: 56px
    height: 12px
    margin-top: 17px

.switch
    width: 12px
    height: 100%
    background-color: #EFEEF6
    border-radius: 100%
    transition: background-color 0.3s ease-out
    &:not(:last-child)
        margin-right: 5px

    &--active
        background-color: #9E98DC

@keyframes fade
    0%
        opacity: 0.6

    100%
        opacity: 1

/* BOOKS */

.categories
    height: 710px
    background: #EFEEF6
    &-links
        padding: 45px 152px 81px 138px
        &__link
            position: relative
            color: var(--text-gray, #5C6A79)
            font-size: 12px
            font-weight: 500
            line-height: normal
            text-transform: capitalize
            &:not(:last-child)
                margin-bottom: 23px
            &:hover
                cursor: pointer
                color: #1C2A39
                transition: color 0.5s ease-out
            &--active
                position: relative
                color: var(--text-black, #1C2A39)
                font-size: 16px
                font-weight: 700
                &::before
                    position: absolute
                    left: -10%
                    content: '•'
                    color: #756AD3
