@charset "UTF-8";
/* Global */
.flex {
  display: flex;
}

.body {
  flex-direction: column;
  font-family: Montserrat;
}

/* Header */
.header {
  z-index: 1;
  position: fixed;
  text-transform: uppercase;
  width: 100%;
  height: 116px;
  justify-content: space-around;
  align-items: center;
  background-color: #FFFFFF;
}

.logo {
  height: 29px;
}

.section--navigation__links {
  font-size: 15px;
}

.navigation__links--link-title {
  font-weight: 700;
  transition: color 0.5s ease-out;
  color: #5C6A79;
}
.navigation__links--link-title:hover {
  color: #1C2A39;
}
.navigation__links--link-active {
  font-weight: 900;
  color: #1C2A39;
}

.navigation__links--link:not(:first-child) {
  padding-left: 40px;
}

.information-purchases {
  width: 120.839px;
  height: 17px;
  justify-content: space-between;
}

/* Main */
.main {
  padding-top: 116px;
}
.main__slider {
  justify-content: center;
  box-sizing: content-box;
  padding-bottom: 102px;
  max-height: 732px;
}
.main__slider--section {
  position: relative;
  flex-direction: column;
  align-items: center;
}
.main__categories-and-category-books {
  color: red;
  margin-bottom: 88px;
}

/* SLIDER */
.section__slides {
  justify-content: center;
}
.section__additional-information-one {
  position: relative;
  top: 40px;
  padding: 102px 20px 20px 20px;
  margin-left: -70px;
  width: 149px;
  height: 204px;
  background: #9E98DC;
  color: var(--text-black, #1C2A39);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 24px 36px 0px rgba(53, 49, 84, 0.28);
}
.section__additional-information-one-a {
  color: var(--text-black, #1C2A39);
}
.section__additional-information-two {
  cursor: pointer;
  position: relative;
  top: 100px;
  padding: 149px 47px 20px 20px;
  margin-left: 20px;
  width: 137px;
  height: 273px;
  background: #FF8FE6;
  color: var(--text-black, #1C2A39);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 0px 24px 36px 0px rgba(53, 49, 84, 0.28);
}
.section__additional-information-two-a {
  color: var(--text-black, #1C2A39);
}

.section__banner {
  max-width: 100%;
  max-height: 702px;
  animation: fade 1s;
}
.section__banner--hide {
  display: none;
}

.section__switches {
  display: flex;
  width: 56px;
  height: 12px;
  margin-top: 17px;
}

.switch {
  width: 12px;
  height: 100%;
  background-color: #EFEEF6;
  border-radius: 100%;
  transition: background-color 0.3s ease-out;
}
.switch:not(:last-child) {
  margin-right: 5px;
}
.switch--active {
  background-color: #9E98DC;
}

@keyframes fade {
  0% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
/* categories */
.categories {
  height: 710px;
  width: 416px;
  background: #EFEEF6;
}
.categories-links {
  padding: 45px 81px 0 138px;
  height: 100%;
}
.categories-links__link {
  position: relative;
  color: var(--text-gray, #5C6A79);
  font-size: 12px;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
  transition: color, font-size 0.3s ease-out;
}
.categories-links__link:not(:last-child) {
  margin-bottom: 23px;
}
.categories-links__link:hover {
  cursor: pointer;
  color: #1C2A39;
  font-size: 16px;
}
.categories-links__link--active {
  position: relative;
  color: var(--text-black, #1C2A39);
  font-size: 16px;
  font-weight: 700;
}
.categories-links__link--active::before {
  position: absolute;
  left: -10%;
  content: "•";
  color: #756AD3;
}

/* books */
.category-books {
  margin-left: -60px;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(2, minmax(212px, 424px));
  grid-template-rows: minmax(150px, 300px);
  grid-gap: 80px;
}
.category-books__book-card {
  max-width: 424px;
  max-height: 300px;
}

.book-card--book-cover {
  width: 100%;
  height: 100%;
}
.book-card--img-settings {
  margin-right: 36px;
  min-width: 50%;
  min-height: 100%;
}
.book-card--description {
  flex-direction: column;
  justify-content: center;
}
.book-card--description--author {
  color: #5C6A79;
  font-size: 12px;
  font-weight: 400;
  argin-bottom: 4px;
  line-height: normal;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.book-card--description--book-name {
  color: #5C6A79;
  font-size: 12px;
  font-weight: 400;
  argin-bottom: 4px;
  line-height: normal;
  color: #1C2A39;
  font-size: 18px;
  font-weight: 700;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.book-card--description--view {
  color: #5C6A79;
  font-size: 12px;
  font-weight: 400;
  argin-bottom: 4px;
  line-height: normal;
  margin-bottom: 16px;
}
.book-card--description--description {
  color: #5C6A79;
  font-size: 12px;
  font-weight: 400;
  argin-bottom: 4px;
  line-height: normal;
  margin-bottom: 16px;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.book-card--description--price {
  color: var(--text-black, #1C2A39);
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 16px;
}
.book-card--description--buy {
  width: 176px;
  height: 45px;
  border: 1px solid #4C3DB2;
  color: #4C3DB2;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color, background 0.5s ease-out;
}
.book-card--description--buy:hover {
  background: #4C3DB2;
  color: #ffffff;
}
.book-card--description--buy-not-active {
  width: 176px;
  height: 45px;
  border: 1px solid #4C3DB2;
  color: #4C3DB2;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color, background 0.5s ease-out;
  border: 1px solid #adadad;
  color: #adadad;
}

.main__more-books {
  justify-content: center;
  margin-bottom: 74px;
}
.main__more-books--button {
  width: 176px;
  height: 45px;
  border: 1px solid #4C3DB2;
  color: #4C3DB2;
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color, background 0.5s ease-out;
}
.main__more-books--button:hover {
  background: #4C3DB2;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
